$grid-gutter-width: 24px !default;
$gutter: $grid-gutter-width;
@for $i from 0 through 6 {
  .m#{$i}  { margin: $i * $gutter; }
  .mt#{$i} { margin-top: $i * $gutter; }
  .mr#{$i} { margin-right: $i * $gutter; }
  .mb#{$i} { margin-bottom: $i * $gutter; }
  .ml#{$i} { margin-left: $i * $gutter; }
}

@for $i from 0 through 4 {
  .p#{$i}  { padding: $i * $gutter; }
  .pt#{$i} { padding-top: $i * $gutter; }
  .pr#{$i} { padding-right: $i * $gutter; }
  .pb#{$i} { padding-bottom: $i * $gutter; }
  .pl#{$i} { padding-left: $i * $gutter; }
}

@include bootstrap-only-tablet {
  @for $i from 0 through 2 {
    .t-m#{$i}  { margin: $i * $gutter !important; }
    .t-mt#{$i} { margin-top: $i * $gutter !important; }
    .t-mr#{$i} { margin-right: $i * $gutter !important; }
    .t-mb#{$i} { margin-bottom: $i * $gutter !important; }
    .t-ml#{$i} { margin-left: $i * $gutter !important; }
  }
}

@include bootstrap-only-mobile {
  @for $i from 0 through 2 {
    .m-m#{$i}  { margin: $i * $gutter !important; }
    .m-mt#{$i} { margin-top: $i * $gutter !important; }
    .m-mr#{$i} { margin-right: $i * $gutter !important; }
    .m-mb#{$i} { margin-bottom: $i * $gutter !important; }
    .m-ml#{$i} { margin-left: $i * $gutter !important; }
  }
}