$grid-gutter-width: 24px !default;
$gutter: $grid-gutter-width;

$margin-gutters: 4 !default;
$padding-gutters: 4 !default;
$tablet-margin-gutters: 4 !default;
$mobile-margin-gutters: 4 !default;

@for $i from 0 through $margin-gutters {
  .m#{$i}  { margin: $i * $gutter; }
  .mt#{$i} { margin-top: $i * $gutter; }
  .mr#{$i} { margin-right: $i * $gutter; }
  .mb#{$i} { margin-bottom: $i * $gutter; }
  .ml#{$i} { margin-left: $i * $gutter; }
}

@for $i from 0 through $padding-gutters {
  .p#{$i}  { padding: $i * $gutter; }
  .pt#{$i} { padding-top: $i * $gutter; }
  .pr#{$i} { padding-right: $i * $gutter; }
  .pb#{$i} { padding-bottom: $i * $gutter; }
  .pl#{$i} { padding-left: $i * $gutter; }
}

@include bootstrap-only-tablet {
  @for $i from 0 through $tablet-margin-gutters {
    .t-m#{$i}  { margin: $i * $gutter !important; }
    .t-mt#{$i} { margin-top: $i * $gutter !important; }
    .t-mr#{$i} { margin-right: $i * $gutter !important; }
    .t-mb#{$i} { margin-bottom: $i * $gutter !important; }
    .t-ml#{$i} { margin-left: $i * $gutter !important; }
  }
}

@include bootstrap-only-mobile {
  @for $i from 0 through $mobile-margin-gutters {
    .m-m#{$i}  { margin: $i * $gutter !important; }
    .m-mt#{$i} { margin-top: $i * $gutter !important; }
    .m-mr#{$i} { margin-right: $i * $gutter !important; }
    .m-mb#{$i} { margin-bottom: $i * $gutter !important; }
    .m-ml#{$i} { margin-left: $i * $gutter !important; }
  }
}